{% extends "base-admin.html" %}

{% block content %}
<!--
Actions to offer here:
Business quick search -> Result takes me to the edit business page
Quick action menu on a result
 - Add Outdoor Seating
 - Remove Outdoor Seating
-->
<div class="container">
  <div class="row">
    <h1 id="header">All Businesses</h1>

    <ul id="list">
      {%for business in all_businesses%}
        <li><a href="/manage/edit/{{business.id}}">{{business.name}}</a></li>
      {%endfor%}
    <ul>
  </div>
</div>

{%endblock content%}
